<% content_for :title, "Editing pedido venda" %>

<h1>Editing pedido venda</h1>

<%= render "form", pedido_venda: @pedido_venda %>

<br>

<div>
  <%= link_to "Show this pedido venda", @pedido_venda %> |
  <%= link_to "Back to pedido vendas", pedido_vendas_path %>
</div>
