<% content_for :title, "New pedido venda" %>

<h1>New pedido venda</h1>

<%= render "form", pedido_venda: @pedido_venda %>

<br>

<div>
  <%= link_to "Back to pedido vendas", pedido_vendas_path %>
</div>
