<% content_for :title, "Editing gerenciamento contas bancarium" %>

<h1>Editing gerenciamento contas bancarium</h1>

<%= render "form", gerenciamento_contas_bancarium: @gerenciamento_contas_bancarium %>

<br>

<div>
  <%= link_to "Show this gerenciamento contas bancarium", @gerenciamento_contas_bancarium %> |
  <%= link_to "Back to gerenciamento contas bancaria", gerenciamento_contas_bancaria_path %>
</div>
