<% content_for :title, "New gerenciamento contas bancarium" %>

<h1>New gerenciamento contas bancarium</h1>

<%= render "form", gerenciamento_contas_bancarium: @gerenciamento_contas_bancarium %>

<br>

<div>
  <%= link_to "Back to gerenciamento contas bancaria", gerenciamento_contas_bancaria_path %>
</div>
