<% content_for :title, "Editing consulta estoque" %>

<h1>Editing consulta estoque</h1>

<%= render "form", consulta_estoque: @consulta_estoque %>

<br>

<div>
  <%= link_to "Show this consulta estoque", @consulta_estoque %> |
  <%= link_to "Back to consulta estoques", consulta_estoques_path %>
</div>
