<% content_for :title, "New consulta estoque" %>

<h1>New consulta estoque</h1>

<%= render "form", consulta_estoque: @consulta_estoque %>

<br>

<div>
  <%= link_to "Back to consulta estoques", consulta_estoques_path %>
</div>
