<% content_for :title, "Editing ordem pagamento" %>

<h1>Editing ordem pagamento</h1>

<%= render "form", ordem_pagamento: @ordem_pagamento %>

<br>

<div>
  <%= link_to "Show this ordem pagamento", @ordem_pagamento %> |
  <%= link_to "Back to ordem pagamentos", ordem_pagamentos_path %>
</div>
