<p style="color: green"><%= notice %></p>

<% content_for :title, "Ordem pagamentos" %>

<h1>Ordem pagamentos</h1>

<div id="ordem_pagamentos">
  <% @ordem_pagamentos.each do |ordem_pagamento| %>
    <%= render ordem_pagamento %>
    <p>
      <%= link_to "Show this ordem pagamento", ordem_pagamento %>
    </p>
  <% end %>
</div>

<%= link_to "New ordem pagamento", new_ordem_pagamento_path %>
