<% content_for :title, "New ordem pagamento" %>

<h1>New ordem pagamento</h1>

<%= render "form", ordem_pagamento: @ordem_pagamento %>

<br>

<div>
  <%= link_to "Back to ordem pagamentos", ordem_pagamentos_path %>
</div>
