<% content_for :title, "Editing gestao beneficio" %>

<h1>Editing gestao beneficio</h1>

<%= render "form", gestao_beneficio: @gestao_beneficio %>

<br>

<div>
  <%= link_to "Show this gestao beneficio", @gestao_beneficio %> |
  <%= link_to "Back to gestao beneficios", gestao_beneficios_path %>
</div>
