<p style="color: green"><%= notice %></p>

<% content_for :title, "Gestao beneficios" %>

<h1>Gestao beneficios</h1>

<div id="gestao_beneficios">
  <% @gestao_beneficios.each do |gestao_beneficio| %>
    <%= render gestao_beneficio %>
    <p>
      <%= link_to "Show this gestao beneficio", gestao_beneficio %>
    </p>
  <% end %>
</div>

<%= link_to "New gestao beneficio", new_gestao_beneficio_path %>
