<% content_for :title, "New gestao beneficio" %>

<h1>New gestao beneficio</h1>

<%= render "form", gestao_beneficio: @gestao_beneficio %>

<br>

<div>
  <%= link_to "Back to gestao beneficios", gestao_beneficios_path %>
</div>
