<head>
  <!-- Incluir a biblioteca jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Carregar o arquivo JavaScript para alternância de tema -->
</head>

<div id="<%= dom_id @servico %>">
  <p>
    <strong>nome:</strong>
    <%= @servico.nome %>
  </p>
<br>
  <p>
    <strong>Price:</strong>
    <%= @servico.descricao %>
  </p>

</div>

