<% content_for :title, "Editing projeto" %>

<h1>Editing projeto</h1>

<%= render "form", projeto: @projeto %>

<br>

<div>
  <%= link_to "Show this projeto", @projeto %> |
  <%= link_to "Back to projetos", projetos_path %>
</div>
