<p style="color: green"><%= notice %></p>

<% content_for :title, "Projetos" %>

<h1>Projetos</h1>

<div id="projetos">
  <% @projetos.each do |projeto| %>
    <%= render projeto %>
    <p>
      <%= link_to "Show this projeto", projeto %>
    </p>
  <% end %>
</div>

<%= link_to "New projeto", new_projeto_path %>
