<p style="color: green"><%= notice %></p>

<% content_for :title, "Cadastro ativos" %>

<h1>Cadastro ativos</h1>

<div id="cadastro_ativos">
  <% @cadastro_ativos.each do |cadastro_ativo| %>
    <%= render cadastro_ativo %>
    <p>
      <%= link_to "Show this cadastro ativo", cadastro_ativo %>
    </p>
  <% end %>
</div>

<%= link_to "New cadastro ativo", new_cadastro_ativo_path %>
