<% content_for :title, "New cadastro ativo" %>

<h1>New cadastro ativo</h1>

<%= render "form", cadastro_ativo: @cadastro_ativo %>

<br>

<div>
  <%= link_to "Back to cadastro ativos", cadastro_ativos_path %>
</div>
