<% content_for :title, "Editing conta receber" %>

<h1>Editing conta receber</h1>

<%= render "form", conta_receber: @conta_receber %>

<br>

<div>
  <%= link_to "Show this conta receber", @conta_receber %> |
  <%= link_to "Back to conta recebers", conta_recebers_path %>
</div>
