<p style="color: green"><%= notice %></p>

<% content_for :title, "Conta recebers" %>

<h1>Conta recebers</h1>

<div id="conta_recebers">
  <% @conta_recebers.each do |conta_receber| %>
    <%= render conta_receber %>
    <p>
      <%= link_to "Show this conta receber", conta_receber %>
    </p>
  <% end %>
</div>

<%= link_to "New conta receber", new_conta_receber_path %>
