<% content_for :title, "New conta receber" %>

<h1>New conta receber</h1>

<%= render "form", conta_receber: @conta_receber %>

<br>

<div>
  <%= link_to "Back to conta recebers", conta_recebers_path %>
</div>
