<% content_for :title, "Editing titulos baixado" %>

<h1>Editing titulos baixado</h1>

<%= render "form", titulos_baixado: @titulos_baixado %>

<br>

<div>
  <%= link_to "Show this titulos baixado", @titulos_baixado %> |
  <%= link_to "Back to titulos baixados", titulos_baixados_path %>
</div>
