<p style="color: green"><%= notice %></p>

<% content_for :title, "Titulos baixados" %>

<h1>Titulos baixados</h1>

<div id="titulos_baixados">
  <% @titulos_baixados.each do |titulos_baixado| %>
    <%= render titulos_baixado %>
    <p>
      <%= link_to "Show this titulos baixado", titulos_baixado %>
    </p>
  <% end %>
</div>

<%= link_to "New titulos baixado", new_titulos_baixado_path %>
