<% content_for :title, "Editing titulos em aberto" %>

<h1>Editing titulos em aberto</h1>

<%= render "form", titulos_em_aberto: @titulos_em_aberto %>

<br>

<div>
  <%= link_to "Show this titulos em aberto", @titulos_em_aberto %> |
  <%= link_to "Back to titulos em abertos", titulos_em_abertos_path %>
</div>
