<% content_for :title, "New titulos em aberto" %>

<h1>New titulos em aberto</h1>

<%= render "form", titulos_em_aberto: @titulos_em_aberto %>

<br>

<div>
  <%= link_to "Back to titulos em abertos", titulos_em_abertos_path %>
</div>
