<% content_for :title, "Editing automacao tarefa" %>

<h1>Editing automacao tarefa</h1>

<%= render "form", automacao_tarefa: @automacao_tarefa %>

<br>

<div>
  <%= link_to "Show this automacao tarefa", @automacao_tarefa %> |
  <%= link_to "Back to automacao tarefas", automacao_tarefas_path %>
</div>
