<% content_for :title, "New automacao tarefa" %>

<h1>New automacao tarefa</h1>

<%= render "form", automacao_tarefa: @automacao_tarefa %>

<br>

<div>
  <%= link_to "Back to automacao tarefas", automacao_tarefas_path %>
</div>
