<p style="color: green"><%= notice %></p>

<% content_for :title, "Processo admissaos" %>

<h1>Processo admissaos</h1>

<div id="processo_admissaos">
  <% @processo_admissaos.each do |processo_admissao| %>
    <%= render processo_admissao %>
    <p>
      <%= link_to "Show this processo admissao", processo_admissao %>
    </p>
  <% end %>
</div>

<%= link_to "New processo admissao", new_processo_admissao_path %>
