<% content_for :title, "New processo admissao" %>

<h1>New processo admissao</h1>

<%= render "form", processo_admissao: @processo_admissao %>

<br>

<div>
  <%= link_to "Back to processo admissaos", processo_admissaos_path %>
</div>
