/* Estilos para o tema claro */
body.theme-light {
  background-color: white;
  color: #464159;
  font-family: 'Lexend Deca', sans-serif;

}

/* Estilos para o tema escuro */
body.theme-dark {
  background: #464159;
  color:  white;
  font-family: 'Lexend Deca', sans-serif;
}


