/* Estilos para o tema claro */
body.theme-light {
  background-color: white;
  color: #464159;
  font-family: 'Lexend Deca', sans-serif;

}

/* Estilos para o tema escuro */
body.theme-dark {
  background: #464159;
  color:  white;
  font-family: 'Lexend Deca', sans-serif;
}

/*menu*/

body {
  // Defina aqui os estilos gerais para o corpo do documento
}


.custom-navbar {
  background-color: #ECEFF1;
}

.theme-toggle-button {
  margin-left: 10px; /* Ajuste a margem conforme necessário para alinhar corretamente */
}

.navbar-nav {
  align-items: center;
}

.align-self-center {
  align-self: center;
}
