<% content_for :title, "Editing ponto eletronico" %>

<h1>Editing ponto eletronico</h1>

<%= render "form", ponto_eletronico: @ponto_eletronico %>

<br>

<div>
  <%= link_to "Show this ponto eletronico", @ponto_eletronico %> |
  <%= link_to "Back to ponto eletronicos", ponto_eletronicos_path %>
</div>
