<% content_for :title, "New ponto eletronico" %>

<h1>New ponto eletronico</h1>

<%= render "form", ponto_eletronico: @ponto_eletronico %>

<br>

<div>
  <%= link_to "Back to ponto eletronicos", ponto_eletronicos_path %>
</div>
