<% content_for :title, "Editing folha pagamento" %>

<h1>Editing folha pagamento</h1>

<%= render "form", folha_pagamento: @folha_pagamento %>

<br>

<div>
  <%= link_to "Show this folha pagamento", @folha_pagamento %> |
  <%= link_to "Back to folha pagamentos", folha_pagamentos_path %>
</div>
