<% content_for :title, "New folha pagamento" %>

<h1>New folha pagamento</h1>

<%= render "form", folha_pagamento: @folha_pagamento %>

<br>

<div>
  <%= link_to "Back to folha pagamentos", folha_pagamentos_path %>
</div>
