<% content_for :title, "Editing conta pagar" %>

<h1>Editing conta pagar</h1>

<%= render "form", conta_pagar: @conta_pagar %>

<br>

<div>
  <%= link_to "Show this conta pagar", @conta_pagar %> |
  <%= link_to "Back to conta pagars", conta_pagars_path %>
</div>
