<% content_for :title, "Editing pedido compra" %>

<h1>Editing pedido compra</h1>

<%= render "form", pedido_compra: @pedido_compra %>

<br>

<div>
  <%= link_to "Show this pedido compra", @pedido_compra %> |
  <%= link_to "Back to pedido compras", pedido_compras_path %>
</div>
