<p style="color: green"><%= notice %></p>

<% content_for :title, "Pedido compras" %>

<h1>Pedido compras</h1>

<div id="pedido_compras">
  <% @pedido_compras.each do |pedido_compra| %>
    <%= render pedido_compra %>
    <p>
      <%= link_to "Show this pedido compra", pedido_compra %>
    </p>
  <% end %>
</div>

<%= link_to "New pedido compra", new_pedido_compra_path %>
