<% content_for :title, "New pedido compra" %>

<h1>New pedido compra</h1>

<%= render "form", pedido_compra: @pedido_compra %>

<br>

<div>
  <%= link_to "Back to pedido compras", pedido_compras_path %>
</div>
